  * {
      box-sizing: border-box;
  }
  
  html,
  body {
      margin: 0 auto;
      height: 100%;
  }
  
  body {
      display: flex;
      align-items: center;
      font-family: monospace;
      justify-content: center;
      background-color: #FEFFFE;
  }
  
  #glow {
      position: absolute;
      top: 0px;
      font-size: 40;
      width: 100%;
      height: 60px;
      line-height: 70px;
      text-align: center;
      color: #252B37;
      background-color: #FEFFFE;
      animation: textColor 10s ease infinite;
      font-family: 'Tangerine', serif;
      border-style: none none solid none;
      border-bottom-color: #D10030;
  }
  
  #glow:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      transform: scale(0.75);
      -webkit-filter: blur(2vw);
      -moz-filter: blur(2vw);
      -ms-filter: blur(2vw);
      filter: blur(2vw);
      background: linear-gradient(270deg, #0fffc1, #7e0fff);
      background-size: 100% 100%;
      animation: animateGlow 10s ease 10s;
  }
  
  @keyframes animateGlow {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  @keyframes textColor {
      0% {
          color: #7e0fff;
      }
      50% {
          color: #0fffc1;
      }
      100% {
          color: #7e0fff;
      }
  }