        @font-face {
            font-family: 'Tangerine';
            font-style: normal;
            font-weight: normal;
            src: local('Tangerine'), url('/fonts/ShorelinesScriptBold.otf') format('truetype');
        }
        
        html,
        body {
            margin: 0 !important;
            padding: 0 !important;
        }
        
        .logo {
            font-size: 72px;
            color: #FEFFFE;
            margin: 15% auto 10% 25%;
            text-align: center;
        }
        
        #wrapper {
            min-width: 1280px;
            max-width: 2048px;
            float: left;
        }
        
        #sidebar {
            width: 25%;
            max-width: 250px;
            float: left;
            font-size: 20px;
            height: 100%;
        }
        
        #content {
            float: left;
            min-width: 1030px;
            width: 75%;
        }
        
        #heading {
            height: 70px;
            padding-top: 30px;
            text-align: center;
            font-family: 'Tangerine';
            background: #FFFFFF;
        }
        
        #data {
            margin-left: 25px;
        }
        /*.material-icons>#icon {
            font-size: 72px;
            color: #FEFFFE;
            vertical-align: middle;
        }*/
        /*#menu {
            width: 150px;
            float: left;
            font-size: 20px;
            background: gray;
            background-color: #2E313A;
        }
               */
        
        .header_container {
            position: relative;
            width: 100%;
            min-height: 100%;
            padding: 0;
        }
        
        #header {
            width: 100%;
            background: #FEFFFE;
            padding: 10px 0;
            height: 80px;
            font-family: 'Tangerine', serif;
            text-align: center;
            margin: 0;
        }
        
        #body {
            background-color: #ECEEF5;
            height: 100%;
        }
        
        #body_wrapper {
            height: 100%;
            width: 1400px;
        }
        
        .groups {
            color: #A0A1A0;
            font-size: 9px;
            font-family: 'Open Sans', sans-serif;
        }
        
        .rules {
            color: #A0A1A0;
            font-size: 9px;
            font-family: 'Open Sans', sans-serif;
        }
        
        .switch {
            font-size: 48px;
            display: inline-block;
            margin: 2px 2px 0;
            width: 140px;
            height: 90px;
            overflow: hidden;
            background-color: #EDEEED;
            padding: 0px;
            text-align: center;
            cursor: hand;
        }
        
        .switch>h3 {
            text-align: center;
            font-size: 12px;
            font-weight: 100;
            text-transform: none;
            margin: 0;
            text-align: center;
            color: #1E1F1E;
            font-family: 'Open Sans', sans-serif;
            cursor: hand;
        }
        
        .switch:hover {
            display: inline-block;
            margin: 2px 2px 0;
            width: 140px;
            height: 90px;
            overflow: hidden;
            background-color: #EDEEED;
            padding: 0px;
            color: #000;
            cursor: -webkit-grab;
            cursor: -moz-grab;
        }
        
        .switch>h3:hover {
            text-align: center;
            font-weight: 100;
            text-transform: none;
            margin: 0;
            text-align: center;
            color: #D10030;
            font-family: 'Open Sans', sans-serif;
            cursor: hand;
        }
        
        #logo {
            position: absolute;
            bottom: 15px;
            right: 15px;
            background-image: "assets/img/tenict_logo.png"
        }